<div class="filterContainer">
    <h4>Filter</h4>
    <form action="">
        <label for="date">Date</label>
        <input type="date">
        <label for="compLab">Comp. Lab</label>
        <select name="compLab" id="compLab">
            <option value="--">-- Select Lab</option>
            <option value="GK304A">GK304A</option>
            <option value="GK503B">GK503B</option>
        </select>
        <label for="time">Time</label>
        <select name="time" id="time">
            <option value="1">8:00 - 9:30</option>
            <option value="2">10:00 - 11:30</option>
            <option value="3">12:00 - 13:30</option>
            <option value="4">14:00 - 15:30</option>
            <option value="5">16:00 - 17:30</option>
            <option value="6">18:00 - 19:30</option>
        </select>
        <input type="submit" class="reserveBtn" value="Filter">
    </form>
</div>