<div class="filterContainer">
    <h4>Filter</h4>
    <form>
        <label for="laboratory">Comp. Lab</label>
        <select name="laboratory" id="laboratory">
            <option value="">-- Select Lab</option>
            <option value="GK304A">GK304A</option>
            <option value="GK304B">GK304B</option>
            <option value="GK304C">GK304C</option>
            <option value="GK304D">GK304D</option>
            <option value="GK304E">GK304E</option>
        </select>
        <label for="date">Date</label>
        <input type="date" id="date">
        <label for="time">Time</label>
        <select name="time" id="time">
            <option value="">- -</option>
            <option value="8:00 - 9:30">8:00 - 9:30</option>
            <option value="10:00 - 11:30">10:00 - 11:30</option>
            <option value="12:00 - 13:30">12:00 - 13:30</option>
            <option value="14:00 - 15:30">14:00 - 15:30</option>
            <option value="16:00 - 17:30">16:00 - 17:30</option>
            <option value="18:00 - 19:30">18:00 - 19:30</option>
        </select>
        <input type="submit" class="reserveBtn" value="Filter" id="filterReservations">
    </form>
</div>