<div class="navBar">
    <span id="name"><a id="name-link" href="indexStudent.html" target="_self">iLabs</a></span>
    <div class="navs">
        <a href="/sHome">home</a>
        <p>|</p>
        <a href="/reserveStudent" target="_self">reservation</a>
        <p>|</p>
        <a href="userprofileStudent.html" target="_self">account</a>
        <p>|</p>
        <a href="logoutStudent.html">logout</a>
    </div>
</div>