<h1 id="registertitle">Register Technician Account</h1>
    <form action="/techRegister" method="post" id="form-createT">
            <div class="register-container">
                <div class="input-box">
                    <div class="form-control">
                        <input type="text" placeholder="First Name" name="first_name" id="first_name" required>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Last Name" name="last_name" id="last_name" required>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-control">
                        <input type="text" placeholder="Username" name="username" id="username" required>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Technician code" name="tech_code" id="tech_code" required>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-control">
                        <input type="text" placeholder="DLSU Email" name="dlsu_email" id="dlsu_email" required>
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-control">
                        <input type="text" placeholder="URL of Profile Photo" name="profileimg" id="profileimg">
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="input-box">
                    <div class="form-control">
                        <input type="password" placeholder="Password" name="PW" id="PW" required>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="password" placeholder="Confirm Password" name="CPW" id="CPW" required>
                        <small>Error Message</small>
                    </div>
                </div>
                <button type="submit" class="btn" id="createT">Register Account</button>
                <button type="reset" class="btn">Reset</button>
                <div class="login-link">
                    Already have an account?   <a href="/userLoginTech"><strong>Log-in</strong></a>
            </div>
         </div>
    </form>