<div class="reserveLinks">
    <div class="reserveFunction">
        <h1>View Schedules</h1>
        <p>View available seats of computer laboratory according to particular schedule.</p>
        <a href="/viewSchedulesTech"><button class="button">View Schedule</button></a>
    </div>
    <div class="reserveFunction">
        <h1>Reserve for a Student</h1>
        <p>Reserve a seat for a student in their chosen laboratory and timeslot!</p>
        <a href="/bookReserveTech"><button class="button">Reserve Seat</button></a>
    </div>
    <div class="reserveFunction">
        <h1>View Reservations</h1>
        <p>View all existing reservations here.</p>
        <a href="/ViewAllReservations"><button class="button">View Reservations</button></a>
    </div>
</div>