<div class="seatsContainer">
    <div class="legendContainer">
        <span class="availableLegend"></span> available
        <span class="unavailableLegend"></span> unavailable
    </div>
    <div class="seats">
        {{#each seat-data}}
            <span class="seat {{this.status}}" id={{this.seat_id}}>{{this.seat_id}}</span>
        {{/each}}
    </div>
</div>