<div class="body-myprofile">
    <h1 id="reservationtitle"><strong>My Profile</strong></h1>
    <ul>
        <li><a href="viewMyReservations.html">View All Reservations</a></li>
        <li><a href="deleteprofileStudent.html">Delete Profile</a></li>
    </ul>
</div>