<div class="body-myprofile">
    <h1 id="reservationtitle"><strong>My Profile</strong></h1>
    <ul>
        <li><a href="/viewMyReservations">View All Reservations</a></li>
        <li><a href="/deleteProfileStudent">Delete Profile</a></li>
    </ul>
</div>