    <!--  LOGIN CONTAINER  -->

<div class="input-box">
    <input type="text" placeholder="Username" name="username" id="username"required>
    <i class='bx bxs-user'></i>
</div>
<div class="input-box">
    <input type="password" placeholder="Password" name="password" id="password" required>
    <i class='bx bxs-lock-alt' ></i>
</div>

