    <!--  LOGIN CONTAINER  -->

<div class="input-box">
    <input type="text" placeholder="Username" required>
    <i class='bx bxs-user'></i>
</div>
<div class="input-box">
    <input type="password" placeholder="Password" required>
    <i class='bx bxs-lock-alt' ></i>
</div>

