body{
	color: var(--clr-dark) !important;

}

.main{
	display: flex;
	justify-content: center;
	padding: 5%;
}

div.form{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 10%;
	background-color: var(--clr-bg-two);
	border: 1px solid var(--clr-dark);
	padding: 3%;
}

input.form{
	color: var(--clr-dark);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.name{
	display: flex;
	flex-direction: row;
}