body {
    background-color: var(--clr-bg-two) !important;
    color: var(--clr-light);
    font-family: 'Montserrat', sans-serif;
}


.main{
	display: flex;
	flex-direction: row;
	/*border: 1px solid;*/
	color: black;
	margin: 0 5%;
}

img.computer{
	width: 600px;
  	height: 700px;
  	object-fit: none;
}

.welcome-panel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 3% 0 6%;
	width: 60%;
	height: 550px;
	/*border: 1px solid;*/
}

.welcome-title{
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
	color: var(--clr-primary);
}

.welcome-sub{
	margin: 5px 0 0 0;
	font-size: 15px;
}

#button{
	color: var(--clr-light);
	background-color: var(--clr-primary);
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	width: 200px;
	padding: 7%;
	border-radius: 50px;
	margin: 20px 0 0 0;
	border: none;
}

#button:hover{
	color: var(--clr-primary);
	background-color: var(--clr-light);
	font-size: 15px;
	transition: all .5s;
	width: 200px;
	padding: 7%;
	border-radius: 50px;
	margin: 20px 0 0 0;
	border: 1px solid var(--clr-primary);
	cursor: pointer;
}