/* CSS VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,300;1,100&display=swap');/* CSS VARIABLES */
:root {
    --clr-dark: #020024;
    --clr-light: #F6EEF2;
    --clr-bg: #f4f4f4;
    --clr-primary: #0A502E;
    --clr-bg-two: #d4e8d3;
    --clr-secondary: #7E73F9;
}

/* BODY *********************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-bg-two);
}

.wrapper {
    width: 420px;
    background: white;
    color: var(--clr-primary);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--clr-primary);
    border-radius: 40px;
    font-size: 16px;
    color: var(--clr-primary);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: var(--clr-primary);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0px 15px;
}

.remember label input {
    accent-color: var(--clr-primary);
    margin-right: 3px;
}

.remember a {
    color: var(--clr-primary);
    text-decoration: none;
}

.remember a::hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    backgr
}