@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,300;1,100&display=swap');/* CSS VARIABLES */
:root {
    --clr-dark: #020024;
    --clr-light: #F6EEF2;
    --clr-bg: #f4f4f4;
    --clr-primary: #0A502E;
    --clr-bg-two: #d4e8d3;
    --clr-secondary: #7E73F9;
}

/* BODY *********************************** */
body {
    background-color: var(--clr-bg-two);
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-primary);
    font-size: 16px;
}

#logintitle {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 36px;
}

.wrapper h1 {
    display: flex;
    text-align: center;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    width: 420px;
    background-color: white;
    color: var(--clr-primary);
}