
/* PARENT *********************************** */
.parent-container {
    display: flex;
    flex-direction: column;
}

/* PROFILE BOX *********************************** */
.profile-box {
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-primary);
    padding-top: 10px;
    color: white;
    height: 300px;
}

[class*="profile"] {
    display: flex;
}

.profile-photo > img {
    padding: 5px 5px 5px 5px;
    width: 250px;
    max-height: 250px;
    border-radius: 55%;
}

.profile-userinfo {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding-left: 50px;
    align-items: flex-start;
    align-self: flex-start;
    padding-top: 80px;
}

.pill {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-primary);
    padding: 15px 20px;
    margin: 0.4em;
    cursor: pointer;
}

.profile-photo {
    align-items: center;
    padding-left: 100px;
}

.profile-edit {
    align-items: center;
    width: 30%;
    align-items: center;
}

/* Body of Profile */
