<!-- -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="style.css" rel="stylesheet" />
    <link href="landing.css" rel="stylesheet" />
    <link rel="stylesheet" href="reserveStyle.css">
    <!--css stuff di pa tapos-->
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Bebas+Neue">
<!--<<<<<< HEAD
    
=======-->
    <link rel="stylesheet" href="navStyle.css">
<!-- >>>>>>> a2868f32549bdd8b326453904c3bb5c7115e760b-->
</head>

    <body>
        {{{body}}}
    </body>
</html>