<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/common/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/common/navStyle.css">
    <link rel="stylesheet" href="/common/reserveStyle.css">
    <link rel="stylesheet" href="/common/continueas.css">
    <link rel="stylesheet" href="/common/deleteLab.css">
    <link rel="stylesheet" href="/common/editprofile.css">
    <link rel="stylesheet" href="/common/home.css">
    <link rel="stylesheet" href="/common/landing.css">
    <link rel="stylesheet" href="/common/logout.css">
    <link rel="stylesheet" href="/common/navStyle.css">
    <link rel="stylesheet" href="/common/style.css">
    <link rel="stylesheet" href="/common/userlogin.css">
    <link rel="stylesheet" href="/common/userprofile.css">
    <link rel="stylesheet" href="/common/userRegister.css">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Bebas+Neue">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/common/func.js"></script>
</head>
<body>
    {{{body}}}
</body>