{{> navigationBarBlank}}
    <div class="main">
        <div class="alert-box">
            <div class="alert">
                <h3>{{alert}}</h3><br> Redirecting to {{redirect_page}}...<br><br>
                Not redirecting? <a href="{{redirect_url}}"> Click me</a>
            </div>
        </div>
        
    </div>
