{{> navigationBarBlank}}
    <div class="main">
        <div class="alert-box">
            <div class="alert">
                <h3>{{alert}}</h3><br>
                <a href="{{redirect_url}}"> Go Back to {{redirect_page}}</a>
            </div>
        </div>
        
    </div>
