<div class="wrapper">
    <h1 id="logintitle"><strong>Account Created!</strong></h1>
    <div class="viewContainer">
        <form action='userLoginStudent' method='get'>
            <button class="btn">Log-in as Student</button>
        </form>
    </div>
</div>
<span class="logo">
    <a href="/userLoginStudent">ILABS</a>
</span>