<div class="wrapper">
        <h1 id="logintitle"><strong>Account Created!</strong></h1>
            <div class="viewContainer">
                <form action='userLoginTech' method='get'>
                   <button class="btn">Log-in as Technician</button>
                </form>
            </div>
    </div>
    <span class="logo">
        <a href="/userLoginTech">ILABS</a>
    </span>