<div class="wrapper">
    <div class="register-container">
        <div class="input-box">
            <form action="/userLoginStudent">
                Account Successfully Created!
                <button type="submit" class="btn">Log-in</button>
            </form>
    1   </div>
    </div>
</div>