{{> navigationBarBlank}}
    <div class="main">
        <div class="alert-box">
            <div class="alert">
                <h3>Account Successfully Deleted!</h3><br> Redirecting to sign-in page...<br><br>
                Not redirecting? <a href="signIn.html"> Click me</a>
            </div>
        </div>
        
    </div>
