{{> navigationBarTech}}

<div class="main">
        <div class="title"><h1>Delete Technician Profile</h1></div>
        <div class="profile-img">
            <img src="profile_photo.png" class="profile-img">
        </div>
        <div class="alert-box">
            <div class="alert">
                <h3>Are you sure you want to delete this account?</h3><br> You will lose all data once it is deleted.<br>
            <div class="name">
                <div class="delete-account"><a href="/editProfileTech"><button class="button">No</button></a></div>
                <div class="delete-account"><a href="/deleteProfile=Success"><button class="alert-button">Yes</button></a></div>
            </div>
            </div>
        </div>
        
</div>