<div class="wrapper">
    <h1 id="logintitle"><strong>Delete Profile:</strong></h1>
    <div class="viewContainer">
        <form action='deleteProfile' method='post'>
            <div class="input-box">
                    <div class="form-control">
                        <input type="text" placeholder="Password" name="PW" id="PW" required>
                        <small>Error Message</small>
                    </div>
                    <div class="form-control">
                        <input type="text" placeholder="Confirm Password" name="CPW" id="CPW" required>
                        <small>Error Message</small>
                    </div>
                </div>
            <button class="btn" id="logout">Delete Profile</button>
        </form>
        <div class="login-link">
            Don't want to delete?   <a href="/userProfileTech"><strong>Back to Home</strong></a>
        </div>
    </div>
</div>