<div class="wrapper">
    <h1 id="registertitle">Edit Student Account</h1>
    <form onsubmit="">
        <div class="register-container">
            <div class="input-box">
                <input type="text" placeholder="{{first_name}}" required>
                <input type="text" placeholder="{{last_name}}" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="{{username}}" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Password" required>
                <input type="text" placeholder="Confirm Password" required>
            </div>
            <button type="submit" class="btn">Make Changes to Account</button>
            <button type="reset" class="btn">Reset</button>
            <div class="login-link">
                <a href="/userProfileStudent"><strong>Back to Profile</strong></a>
            </div>
        </div>
    </form>
</div>