{{>navigationBarTech}}
<div class="mainContent">
    <div class="reminders">
        {{>reminders}}
    </div>
    <div class="content">
        <div class="reserveForm">
            <form action="">
                <div class="formPersonal">
                    <div class="formQuestion">
                        <label for="Name"><b>Name</b></label>
                        <input type="text" value="{{username}}">
                    </div>
                </div>
                <div class="formPersonal">
                    <div class="formQuestion">
                        <label for="email"><b>Email</b></label>
                        <input type="text" value="{{dlsu_email}}">
                    </div>
                </div>
                <div class="formPersonal">
                    <div class="formQuestion">
                        <label for="Seatx"><b>Seat No.</b></label>
                        <input type="text" value="{{seat_num}}">
                    </div>
                </div>
                <div class="formDateTime">
                    <div class="formQuestion">
                        <label for="date"><b>Date</b></label>
                        <input type="calendar" id="date" name="date" placeholder="{{date}}">
                    </div>
                    <div class="formQuestion">
                        <label for="time"><b>Time</b></label>
                        {{!-- not sure if this will be edited --}}
                        <select name="time" id="time">
                            <option value="1" {{#if (eq time_slot "8:00 - 9:30" )}}selected{{/if}}>8:00 - 9:30</option>
                            <option value="2" {{#if (eq time_slot "10:00 - 11:30" )}}selected{{/if}}>10:00 - 11:30
                            </option>
                            <option value="3" {{#if (eq time_slot "12:00 - 13:30" )}}selected{{/if}}>12:00 - 13:30
                            </option>
                            <option value="4" {{#if (eq time_slot "14:00 - 15:30" )}}selected{{/if}}>14:00 - 15:30
                            </option>
                            <option value="5" {{#if (eq time_slot "16:00 - 17:30" )}}selected{{/if}}>16:00 - 17:30
                            </option>
                            <option value="6" {{#if (eq time_slot "18:00 - 19:30" )}}selected{{/if}}>18:00 - 19:30
                            </option>
                        </select>
                    </div>
                </div>
                <input type="submit" class="submitBtn">
            </form>
        </div>
        {{>seatTable}}
    </div>