<div class="wrapper">
    <h1 id="registertitle">Edit Student Account</h1>
    <form action="editProfileFunctionStudent" method="post">
        <div class="register-container">
            <div class="input-box">
                <input type="text" name="first_name" value="{{first_name}}" required>
                <input type="text" name="last_name" value="{{last_name}}" required>
            </div>
            <div class="input-box">
                <input type="text" name="username" value="{{username}}" required>
                <input type="text" name="id_num" value="{{id_num}}" required>
            </div>
            <button type="submit" class="btn">Make Changes to Account</button>
    </form>
    <form action="editProfilePasswordStudent" method="post">
            <div class="input-box">
                <input type="text" name="password1" placeholder="Password">
                <input type="text" name="password2" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn">Make Changes to Account</button>
            <div class="login-link">
                <a href="/userProfileStudent"><strong>Back to Profile</strong></a>
            </div>
        </div>
    </form>
</div>