<div class="wrapper">
    <form onsubmit="" action="/userLoginTech">
        {{>forgotPassword}}
        <div class="register-link">
            Don't have an account?  <a href="/techRegister"><strong>Register</strong></a>
        </div>
        <div class="register-link">
            <a href="/userLoginTech"><strong>Back to Log-in</strong></a>
        </div>
    </form>
</div>