<div class="wrapper">
    <form onsubmit="" action="/userLoginStudent">
        {{>forgotPassword}}
        <div class="register-link">
            Don't have an account?  <a href="/studentRegister"><strong>Register</strong></a>
        </div>
        <div class="register-link">
            <a href="/userLoginStudent"><strong>Back to Log-in</strong></a>
        </div>
    </form>
</div>