{{< navigationBarStudent}} 
<div class="main">
    <div class="welcome-panel">
        <div class="welcome-title">
            <h1>Welcome Students</h1>
        </div>
        <div class="welcome-sub">
            <span class="welcome-desc">Looking for a seat? Look no further! At ILabs, we provide a 24/7 reservation
                service website that allows you to reserve your seat anytime, anywhere! Say goodbye to long queues and
                hoping for an available slot in a computer laboratory. But wait, there's more - at ILabs, we offer
                reservations in three different computer laboratories! So, what are you waiting for? Reserve your spot
                now!</span>
        </div>
        <div class="reserve">
            <a href="bookReserve.html">
                <button id="button"><b>Reserve Now!</b></button>
            </a>
        </div>
    </div>
    <div class="computer">
        <img class="computer" src="computer.gif">
    </div>
    </div>
    <!-- RESERVE FUNCTIONS -->
    <div class="reserveTitle">
        <h1>Reservations</h1>
    </div>
    <div class="reserveContainer">
        <div class="reserveLinks">
            <div class="reserveFunction">
                <h1>View Schedules</h1>
                <p>View available seats of computer laboratory according to particular schedule.</p>
                <a href="viewSchedules.html"><button id="button">View Schedule</button></a>
            </div>
            <div class="reserveFunction">
                <h1>Book Reservation</h1>
                <p>Reserve a seat in your chosen laboratory and timeslot!</p>
                <a href="bookReserve.html"><button id="button">Reserve Seat</button></a>
            </div>
            <div class="reserveFunction">
                <h1>My Reservations</h1>
                <p>View your existing reservations here.</p>
                <a href="viewMyReservations.html"><button id="button">View Reservations</button></a>
            </div>
        </div>
    </div>