{{>navigationBarTech}}
<div class="main">
    {{>welcomeTech}}
</div>
    <!-- RESERVE FUNCTIONS -->
    <div class="reserveTitle">
        <h1>Reservations</h1>
    </div>
    <div class="reserveContainer">
        {{>reserveFunctionTech}}
</div>