 <div class="wrapper">
        <h1>Logging Out?</h1>
        <span class="confirmation">
            Are you sure you want to log-out?
        </span>
        <form action='signIn' method='get'>
            <button class="btn" id="logout">Log-Out</button>
        </form>
        <a href="indexTech.html"><button class="btn" id="back">Back to Home</button></a>
    </div>
    <span class="logo">
        <a href="indexTech.html">ILABS</a>
    </span>