    {{> navigationBarStudent}}
    <div class="main">
        <div class="title"><h1>Edit Student Profile</h1></div>
        <div class="profile-img">
            <img src="profile_photo.png" class="profile-img">
        </div>
        <div class="form">
            <div class="details">

            <form class="form" id="form" onsubmit="return submitForm()" method="get">

            <div class="name">
                <div>
                <b>First Name: </b><br><input class="form" type="text" id="change-first" value="Sam"/>
                </div>
                <div>
                <b>Last Name: </b><br><input class="form" type="text" id="change-last" value="O'Neil"/>
                </div>
            </div>

            <div class="id-num">
                <b>ID Number: </b><br><input class="form" type="text" id="change-id" value="122*****"/>
            </div>

            <div>
                <b>E-mail:</b><input class="form" type="text" id="change-email" value="samantha****@dlsu.edu.ph"/>
            </div>

            <div> 
                <b>Mobile Number: </b><br><input class="form" type="text" id="change-num" value="09*********"/>
            <div><input type="submit" class="button" id="submit-profile" value="Submit"/></div>
            </div>
            </form>
            </div>

            <!-- Password details can be omitted if too much work -->
            <br><br>
            <div class="password">
                <div>
                    <b>New Password: </b><br>
                    <input class="form" type="password" id="change-pw" placeholder="Enter New Password"/>
                </div>
                <div>
                    <b>Confirm New Password: </b><br>
                    <input class="form" type="password" id="change-pw" placeholder="Enter New Password to Confirm"/>
                </div>
                <div>
                    <b>Current Password: </b><br>
                    <input class="form" type="password" id="change-pw" placeholder="Enter Current Password"/>
                </div>
                <button class="button" id="submit-password">Change Password</button>
            </div>
        </form>
        </div>
        <div class="delete-account"><a href="deleteprofileStudent.html"><button class="alert-button">Delete Account</button></a></div>
    </div>