<!--student home-->
{{>navigationBarStudent}}
    <div class="main">
    	{{>welcomepanel}}
	</div>
    <!-- RESERVE FUNCTIONS -->
    <div class="reserveTitle">
        <h1>Reservations</h1>
    </div>
    <div class="reserveContainer">
        <div class="reserveLinks">
            <div class="reserveFunction">
                <h1>View Schedules</h1>
                <p>View available seats of computer laboratory according to particular schedule.</p>
                <a href="viewSchedules.html"><button class="button">View Schedule</button></a>
            </div>
            <div class="reserveFunction">
                <h1>Book Reservation</h1>
                <p>Reserve a seat in your chosen laboratory and timeslot!</p>
                <a href="bookReserve.html"><button class="button">Reserve Seat</button></a>
            </div>
            <div class="reserveFunction">
                <h1>My Reservations</h1>
                <p>View your existing reservations here.</p>
                <a href="viewMyReservations.html"><button class="button">View Reservations</button></a>
            </div>
        </div>
    </div>