<!-- Log In -->
    <div class="wrapper">
        <h1 id="logintitle"><strong>Welcome to ILABS!</strong></h1>
            <div class="viewContainer">
                <form action='userLoginStudent' method='get'>
                    <button class="btn">Continue as Student</button>
                </form>
                <form action='userLoginTech' method='get'>
                   <button class="btn">Continue as Technician</button>
                </form>
            </div>
    </div>
    <span class="logo">
        <a href="/">ILABS</a>
    </span>