<!-- Log In -->
    <div class="wrapper">
        <h1 id="logintitle"><strong>Welcome to ILABS!</strong></h1>
            <div class="viewContainer">
                <a href="userloginStudent.html"><button class="btn">Continue as Student</button></a>
                <a href="userloginTech.html"><button class="btn">Continue as Technician</button></a>
            </div>
    </div>
    <span class="logo">
        <a href="#">ILABS</a>
    </span>