<div class="wrapper">
    <form name="login-funck" action="login-funck" method="post">
        <h1 id="logintitle"><strong>Login as Student</strong></h1>
        <div class="log-in-container">
            <div class="input-box">
            <input type="text" placeholder="Username" id="username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" id="password"required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            <div class="remember">
                <label><input type="checkbox"><span id="rem">Remember me?</span></label>
                <a href="forgotPasswordStudent.html" id="forgotpw"><strong>Forgot Password?</strong></a>
            </div>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
            Don't have an account?   <a href="studentRegister.html"><strong>Register</strong></a>
        </div>
    </form>
    </div>
    <span class="logo">
        <a href="indexStudent.html">ILABS</a>
    </span>