<div class="wrapper">
    <form onsubmit="" action='student-home' method='get'>
        <h1 id="logintitle"><strong>Login as Student</strong></h1>
        <div class="log-in-container">
            {{>userLoginFunc}}
            <div class="remember">
                <label><input type="checkbox"><span id="rem">Remember me?</span></label>
                <a href="forgotPasswordStudent.html" id="forgotpw"><strong>Forgot Password?</strong></a>
            </div>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
            Don't have an account?   <a href="/studentRegister"><strong>Register</strong></a>
        </div>
        </div>
    </form>
    </div>
    <span class="logo">
        <a href="/userLoginStudent">ILABS</a>
    </span>