{{> navigationBarTech}}
<span class="spacer"></span>
    <div class="profile-box">
        <div class="profile-photo">
            <img src="{{profileimg}}" class="rounded-image">
        </div>
        <div class="profile-userinfo">
            <h1>{{firstname}} {{lastname}}</h1>
            <h3>Lab Technician {{labnum}}</h3>
        </div>
        <div class="spacer">

        </div>
        <div class="profile-edit">
            <a href="editprofileTech.html">
                <button class="pill" type="button">Edit Profile</button>
            </a>
        </div>
    </div>
    <!-- Body of Profile Page -->
    <div class="profile-body">
        <div class="body-myprofile">
        <strong>My Labs</strong>
        <ul>
            <li><a href="ViewAllReservations.html">View Reservations</a></li>
            <li><a href="deleteprofileTech.html">Delete Profile</a></li>
        </ul>
        </div>
        <hr>
        <div>
            <div class="mainContent">
                <h1>Reservations</h1>
                <div class="filterContainer">
                    <h4>Filter</h4>
                    <form action="">
                        <label for="date">Date</label>
                        <input type="date">
                        <label for="compLab">Comp. Lab</label>
                        <select name="compLab" id="compLab">
                            <option value="--">-- Select Lab</option>
                            <option value="GK304A">GK304A</option>
                            <option value="GK503B">GK503B</option>
                        </select>
                        <label for="time">Time</label>
                        <select name="time" id="time">
                            <option value="1">8:00 - 9:30</option>
                            <option value="2">10:00 - 11:30</option>
                            <option value="3">12:00 - 13:30</option>
                            <option value="4">14:00 - 15:30</option>
                            <option value="5">16:00 - 17:30</option>
                            <option value="6">18:00 - 19:30</option>
                        </select>
                        <input type="submit" class="reserveBtn" value="Filter">
                    </form>
                </div>
                <table id="reservations">
                    <tr>
                        <th>Computer Lab</th>
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th>Email</th>
                        <th>User</th>
                        <th>Seat Number</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>GK304B</td>
                        <td>Feb 14, 2024</td>
                        <td>8:00 - 9:30</td>
                        <td>shaykintanar@gmail.com</td>
                        <td>shayleneeK</td>
                        <td>A01</td>
                        <td>
                            <div class="cont">
                                <form action="editTechh.html">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                                    <form action="deleteLab.html">
                                        <button type="submit" class="reserveBtn">Delete</button>
                                    </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GK304B</td>
                        <td>Feb 14, 2024</td>
                        <td>8:00 - 9:30</td>
                        <td>shaykintanar@gmail.com</td>
                        <td>shayleneeK</td>
                        <td>A01</td>
                        <td>
                            <div class="cont">
                                <form action="editTechh.html">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                                    <form action="deleteLab.html">
                                        <button type="submit" class="reserveBtn">Delete</button>
                                    </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GK304B</td>
                        <td>Feb 14, 2024</td>
                        <td>8:00 - 9:30</td>
                        <td>samantha*****@gmail.com</td>
                        <td>samOneil</td>
                        <td>A02</td>
                        <td>
                            <div class="cont">
                                <form action="editTechh.html">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                                    <form action="deleteLab.html">
                                        <button type="submit" class="reserveBtn">Delete</button>
                                    </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GK304B</td>
                        <td>Feb 14, 2024</td>
                        <td>8:00 - 9:30</td>
                        <td>samantha*****@gmail.com</td>
                        <td>samOneil</td>
                        <td>A02</td>
                        <td>
                            <div class="cont">
                                <form action="editTechh.html">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                                    <form action="deleteLab.html">
                                        <button type="submit" class="reserveBtn">Delete</button>
                                    </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GK304B</td>
                        <td>Feb 14, 2024</td>
                        <td>8:00 - 9:30</td>
                        <td>shaykintanar@gmail.com</td>
                        <td>shayleneeK</td>
                        <td>A01</td>
                        <td>
                            <div class="cont">
                                <form action="editTechh.html">
                                    <button type="submit" class="reserveBtn">Edit</button>
                                    </form> 
                                    <form action="deleteLab.html">
                                        <button type="submit" class="reserveBtn">Delete</button>
                                    </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>