{{>navigationBarTech}}
<div class="mainContent">
    <h1>View Schedules</h1>
    {{>filterSchedules}}
    <div class="mainContainer">
        {{>seatTable}}
        <div class="reserveInfoContainer" id="reserveInfo">
            <h3>Reservation Details </h3><hr>
        </div>
    </div>
</div>