{{>navigationBarStudent}}
<div class="mainContent">
        <h1>Reservations</h1>
        {{>filter}}
        <table id="reservations">
            <tr>
                <th>Computer Lab</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th>Email</th>
                <th>User</th>
                <th>Seat Number</th>
                <th></th>
            </tr>
            <tr>
                <td>GK304B</td>
                <td>Feb 14, 2024</td>
                <td>8:00 - 9:30</td>
                <td>samantha*****@gmail.com</td>
                <td>samOneil</td>
                <td>A02</td>
                <td>
                    <div class="cont">
                        <form action="editStudent.html">
                            <button type="submit" class="reserveBtn">Edit</button>
                            </form> 
                    </div>
                </td>
            </tr>
            <tr>
                <td>GK304B</td>
                <td>Feb 14, 2024</td>
                <td>8:00 - 9:30</td>
                <td>samantha*****@gmail.com</td>
                <td>samOneil</td>
                <td>A02</td>
                <td>
                    <div class="cont">
                        <form action="editStudent.html">
                            <button type="submit" class="reserveBtn">Edit</button>
                            </form> 
                    </div>
                </td>
            </tr>
        </table>
    </div>