/* CSS VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,300;1,100&display=swap');/* CSS VARIABLES */
:root {
    --clr-dark: #020024;
    --clr-light: #F6EEF2;
    --clr-bg: #f4f4f4;
    --clr-primary: #0A502E;
    --clr-bg-two: #d4e8d3;
    --clr-secondary: #7E73F9;
}

/* BODY *********************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--clr-bg-two);
}

.wrapper {
    max-width: 500px;
    background: white;
    color: var(--clr-primary);
    padding: 30px;
    border-radius: 30px;
    border: 1px solid var(--clr-primary);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.wrapper h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 10px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 80%;
    height: 30%;
    margin: 25px auto;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--clr-primary);
    border-radius: 40px;
    font-size: 16px;
    color: var(--clr-primary);
    padding: 20px 45px 20px 20px;
    margin-bottom: 5px;
}

.input-box input::placeholder{
    color: var(--clr-primary);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 80%;
    height: 50px;
    background-color: var(--clr-primary);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--clr-light);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin: 10px auto;
}

.wrapper .btn:hover{
    width: 80%;
    height: 50px;
    color: var(--clr-primary);
	background-color: var(--clr-light);
	font-size: 15px;
	transition: all .5s;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 1px solid var(--clr-primary);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    margin: 10px auto;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-size: xx-large;
    padding-top: 5px;
}

.logo a {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: var(--clr-primary);
    text-decoration: none;
}

#logo:hover{
    text-decoration: underline;
    cursor: pointer;
}

.wrapper .login-link {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 20px;
}

.wrapper .login-link a {
    color: var(--clr-primary);
    text-decoration: none;
    padding-left: 5px;
}

.wrapper .login-link a:hover{
    text-decoration: underline;
}